/* CSS file for the Realtor page */


td.realtorInfo
{
	vertical-align: top;
	padding: 5px;
}

td.portraitBox
{
	padding: 5px;
}

h3.realtorName
{
	font-weight: bold;
	color:#0e9fcf;
}

p.realtorLocation
{
	font-weight: bold;
}

p.realtorPhone
{
	font-weight: bold;
}

p.realtorEmail
{
	font-weight: bold;
}

p.realtorBio
{
	word-wrap: break-all;
}

#editbtn
{
	display: inline;
}

#rID
{
	display: inline;
	float: left;
	background-color: #b6b6b6;
}

#IDholder
{
	background-color: #9a9a9a;
}

.uRow
{
	padding: 20px;
}

.leftLbl
{
	vertical-align: top;
	font-weight: bold;
	padding-right: 10px;
}

#file
{
	border-style: solid;
	border-width: 1px;
	padding: 5px;
}

#upImage
{
	display: inline;
	float: left;
	margin: 5px;
}

.feedback
{
	display: inline;
	float: inherit;
	color: #01dc22;
	margin-left: 10px;
	font-weight: bold;
}

.locked
{
	background-color: #b3b3b3;
}

.portraitHolder
{
	border-style: solid;
	border-width: 1px;
	border-color: black;
	text-align: center;
	padding: 2px;
	width: 300px;
}

.reqField
{
	color: red;
}

#required
{
	font-size: 10px;
	color: red;
}

#reminder
{
	margin-top: 5px;
}